<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dental_Management_System.PaymentRates" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Dental_Management_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dental_Management_System.PaymentRates>
            <setting name="Cleaning" serializeAs="String">
                <value />
            </setting>
            <setting name="Pasta" serializeAs="String">
                <value />
            </setting>
            <setting name="Dentures" serializeAs="String">
                <value />
            </setting>
            <setting name="Braces" serializeAs="String">
                <value />
            </setting>
            <setting name="FixBrudge" serializeAs="String">
                <value />
            </setting>
            <setting name="PullOut" serializeAs="String">
                <value />
            </setting>
        </Dental_Management_System.PaymentRates>
        <Dental_Management_System.Properties.Settings>
            <setting name="SQL_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL_Port" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL_User" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL_Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL_Database" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowBannerYesNo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoctorName" serializeAs="String">
                <value> 高坂穂乃果</value>
            </setting>
            <setting name="DocAddress" serializeAs="String">
                <value>G/F Unit 106 Silver City Auto Mall, Frontera Verde Drive cor. Julia Vargas St., Ortigas, Pasig City</value>
            </setting>
            <setting name="DocNumber" serializeAs="String">
                <value>(02) 666-6666</value>
            </setting>
            <setting name="DocOfficeName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="CalendarTest" serializeAs="String">
                <value />
            </setting>
            <setting name="UseWAN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WANDialogMsg" serializeAs="String">
                <value>0</value>
            </setting>
        </Dental_Management_System.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>